<% if alert %>
	<div class="alert alert-danger col-md-11 mx-auto text-center mb-4">
		<%= alert %>
	</div>
<% elsif notice %>
	<div class="alert alert-info col-md-11 mx-auto text-center mb-4">
		<%= notice %>
	</div>
<% end %>