<% if notice %>
	<div class="alert alert-info mx-auto col-md-6 col-md-offset-3 text-center">
		<%= notice %>
	</div>
<% elsif alert %>
	<div class="alert-d alert-danger mx-auto col-md-6 col-md-offset-3 text-center">
		<%= alert %>
	</div>
<% end %>